<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<h1>Add book</h1>
<a href="/">Home</a>
<a href="/viewBooks">View books</a>

<form action="#" th:action="@{/processForm}" th:object="${book}" method="post">
    <p>Title: <input type="text" th:field="*{title}"/></p>
    <p>About: <input type="text" th:field="*{about}"/></p>
    <p>Year: <input type="text" th:field="*{year}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>
